.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.action-btn {
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Inter Tight', sans-serif;
  font-weight: bold;
}

.action-btn:hover {
  background-color: var(--border-color);
  color: var(--button-bg);
  transform: translateY(-2px);
}

.export-box {
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}

.export-box textarea {
  width: 100%;
  padding: 10px;
  font-size: 22px;
  font-family: 'Courier New', monospace;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  resize: none;
  height: 220px;               
  overflow-y: auto;  
  background-color: var(--button-bg);
  color: var(--text-color);
}

.clarity{
  font-size: 24px;
  font-family: inter Tight;
  justify-content: center;
  color: var(--text-color);
  padding-bottom: 20px;
}

.copy-btn{
  box-sizing: border-box;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.copy-btn:hover {
  background-color: var(--border-color);
  color: var(--button-bg);
}

/* Responsive styles (for mobile screens) */
@media only screen and (max-width: 611px) {
  .export-box {
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}

.export-box textarea {
  width: 90vw;
  padding: 10px;
  font-size: 16px;
  font-family: 'Courier New', monospace;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  resize: none;
  height: 220px;               
  overflow-y: auto;    
}
}